/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
	box-sizeing:border-box;
	
}
body{
	/* display:flex; */
	/* justify-content:center; */
	background-color:#f8f8f8;
	/* border:5px solid black; */
	padding:20px;
	margin:10px;
	
}
.book-library{
	width:100%;
	max-width:900px;
}
.book{
	
	align-items:center;
	widht:100%;
    /* border:2px solid black; */
	padding:40px;
	margin:20px;
	background-color:#ffffff;
}
button{
	width:100%;
	background-color: green;
	border:none;
	color: white;
		
}
h1{
	text-align:center;
	margin-bottom:20px;
}
/* /* img{
	display:block;
	justify-content:center;
	align-items:center; */
}
 */
.book{
    text-align: center;
}

.book img{
    display: block;
    margin: 10px auto;
    width: 200px;
}
.book p{
	color:#777777;
}
.book button{
	color:#2ecc71;
}
#heading{
	background-color:#ffffff;
	padding:10px;
	margin-left:20px;
	margin-right:20px;
	
}
